.titleHeader {
  font-size: 40px;
  margin: 30px 0;
  color: white;
  z-index: 1;
  /* z-index to keep text visible when BG animation  */
  text-align: center;
}

@media (max-width: 800px) {
  .titleHeader {
    margin: 15px;
    font-style: 35px;
  }
}
