# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.env
keys.js
# dependencies
node_modules/
/client/node_modules/
/client.pnp.js
/client/.pnp

# testing 

/client/coverage
# production

/client/build
# misc
.env.local
/client .DS_Store
/client .env.development.local
/client .env.test.local
/client .env.production.local
/client npm-debug.log*
/client yarn-debug.log*
/client yarn-error.log*
