@media (max-width: 1200px) {
  .menu__element {
    width: 40%;
  }
}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .menuList {
    width: 95%;
  }
  .menu__element {
    width: 100%;
  }
}
